<div ng-controller="MainCtrl">

<div id="top" class="questionContainer">
    <div class="container">
        <div class="row timeline">
            <div class="col-lg-12">

                <div ui-view>

                    <div ng-include="'public/prediction/views/questions/general.html'"></div>

                </div>

            </div>
        </div>
    </div>
    <div class="container">
        <div class="row timeline">
            <div class="col-lg-12">

                <div class="thumbnail center-block answer" ng-hide="answer">
                    <h2 style="color: #ffffff; margin: 0; padding: 0;">
                        ВЕЛИКИЙ ОГОНЬ ОЖИДАЕТ ВОПРОС!</h2>
                    <a href="#"><img src="/public/prediction/assets/img/answer_1.jpg" alt=""></a>
                </div>

                <div class="thumbnail center-block answer" ng-show="answer">
                    <div class="post-wrap thumbnail" style="margin-bottom: 0px">
                        <button ng-click="closeAnswer()" type="button" class="close"
                                style="opacity: .5;">×
                        </button>

                        <div class="post-header">
                            <h4 class="post-title"><a href="#">{{answer.socQuestion}}</a></h4>
                        </div>
                        <div class="post-media">
                            <div class="thumbnail">
                                <a href="{{answer.imageUrl}}" data-lightbox="img_1"
                                   data-title="{{answer.socAnswer}}">
                                    <img src="{{answer.imageUrl}}" alt="" style="max-height: 250px">
                                </a>
                            </div>
                        </div>

                        <div class="post-body">
                            <h4 class="post-title">{{answer.socAnswer}}</h4>
                        </div>
                        <div class="post-footer">
                            <div ng-social-buttons
                                 data-url="answer.socUrl"
                                 data-title="answer.socQuestion"
                                 data-description="answer.socAnswer"
                                 data-image="answer.imageUrl"
                                 showcounts="false"
                                 style="float: left">
                                <a class="ng-social-vk"></a>
                                <a class="ng-social-facebook"></a>
                                <a class="ng-social-twitter"></a>
                                <a class="ng-social-google-plus"></a>
                            </div>

                            <!--<a class="more" href="#">Подробнее</a>-->
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- /*********** About Us Container ***********/ -->

<div class="categoryContainer">

    <div class="container">

        <h2>Другие категории вопросов</h2>

        <div class="row">
            <div class="col-md-4">
                <div class="feature-box secundary">
                    <div class="feature-box-icon">
                        <i class="fa fa-group"></i>
                    </div>
                    <div class="feature-box-info">
                        <a ui-sref='prediction.general' class="category">
                            Любой ответ
                        </a>

                        <p class="description">Ответ будет зависить от вашего вопроса.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="feature-box secundary">
                    <div class="feature-box-icon">
                        <i class="fa fa-film"></i>
                    </div>
                    <div class="feature-box-info">
                        <a ui-sref='prediction.affirmative' class="category">
                            Только ответы "Да/Нет"
                        </a>

                        <p class="description">Ответы на любые вопросы "Да/Нет".</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="feature-box secundary">
                    <div class="feature-box-icon">
                        <i class="fa fa-bars"></i>
                    </div>
                    <div class="feature-box-info">
                        <a ui-sref='prediction.choice' class="category">Выбор из двух вариантов</a>

                        <p class="description">Задайте два варианта и получите ответ</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="feature-box secundary">
                    <div class="feature-box-icon">
                        <i class="fa fa-group"></i>
                    </div>
                    <div class="feature-box-info">
                        <a ui-sref='prediction.relation' class="category">Ответы об отношениях пары</a>

                        <p class="description">Ответы на вопросы об отношениях пары</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="feature-box secundary">
                    <div class="feature-box-icon">
                        <i class="fa fa-film"></i>
                    </div>
                    <div class="feature-box-info">
                        <a ui-sref='prediction.longlive' class="category">Долго ли мне ещё жить</a>

                        <p class="description">Узнайте, сколько вам ещё жить осталось.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="feature-box secundary">
                    <div class="feature-box-icon">
                        <i class="fa fa-bars"></i>
                    </div>
                    <div class="feature-box-info">
                        <a ui-sref='prediction.number' class="category">Моё счастливое число</a>

                        <p class="description">Узнайте какое ваше счастливое число.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="cb"></div>
    </div>
    <!-- end Container -->
</div>


<div class="historyContainer">

    <section id="portfolio-grid">
        <div class="container">
            <div class="row">

                <h2>История заданных вопросов</h2>

                <div class="wrapper wf">
                    <div class="col-md-12">
                        <ul id="filters" class="popular-filter">
                            <!--<li class="filter active" data-filter="best" data-role="button">-->
                            <!--<a href="javascript:void(0)" ng-click="setTopCategory('best')">Лучшие</a></li>-->
                            <li class="filter active" data-filter="general" data-role="button">
                                <a href="javascript:void(0)" ng-click="setTopCategory('general')">Любой вопрос</a></li>
                            <li class="filter" data-filter="affirmative" data-role="button">
                                <a href="javascript:void(0)" ng-click="setTopCategory('affirmative')">Да/Нет</a></li>
                            <li class="filter" data-filter="choice" data-role="button">
                                <a href="javascript:void(0)" ng-click="setTopCategory('choice')">Выбор</a></li>
                            <li class="filter" data-filter="relation" data-role="button">
                                <a href="javascript:void(0)" ng-click="setTopCategory('relation')">Отношения</a></li>
                            <li class="filter" data-filter="longlive" data-role="button">
                                <a href="javascript:void(0)" ng-click="setTopCategory('longlive')">Жизнь</a></li>
                            <li class="filter" data-filter="number" data-role="button">
                                <a href="javascript:void(0)" ng-click="setTopCategory('number')">Счастливое число</a>
                            </li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                    <ul id="Grid" class="popular-grid">
                        <li class="mix col-sm-4 {{item.category}}" data-sort="data-name" ng-repeat="item in answers">
                            <!--style="display: inline-block; opacity: 1;"-->
                            <div class="post-wrap thumbnail">
                                <div class="post-header">
                                    <h4 class="post-title"><a href="#">Вопрос: {{item.question}}</a>
                                    </h4>
                                </div>
                                <div class="post-media">
                                    <div class="thumbnail">
                                        <a href="{{item.imageUrl}}" data-lightbox="{{item.category}}"
                                           data-title="{{item.answer}}">
                                            <img ng-src="{{item.imageUrl}}" alt="">
                                        </a>
                                    </div>
                                    <div class="post-meta clearfix">
                                        <span class="pull-left">
                                            <span class="post-date"><i
                                                    class="fa fa-calendar"></i> {{item.createdDate | date:'yyyy-MM-dd HH:mm:ss'}}</span>
                                        </span>
                                        <span class="pull-right">
                                            <!--<a href="#"><i class="fa fa-comment"></i> 26</a>-->
                                        </span>
                                    </div>
                                </div>

                                <div class="post-body">
                                    <h4>Ответ: {{item.answer}}</h4>
                                </div>

                                <div class="post-footer">
                                    <div ng-social-buttons
                                         data-url="item.socUrl"
                                         data-title="item.socQuestion"
                                         data-description="item.socAnswer"
                                         data-image="item.imageUrl"
                                         showcounts="false"
                                         style="float: left">
                                        <a class="ng-social-vk"></a>
                                        <a class="ng-social-facebook"></a>
                                        <a class="ng-social-twitter"></a>
                                        <a class="ng-social-google-plus"></a>
                                    </div>

                                    <!--<a class="more" href="#">Подробнее</a>-->
                                </div>
                            </div>
                        </li>
                        <div class="clearfix"></div>
                    </ul>
                </div>

            </div>
            <a class="btn show_button center-block" style="text-decoration: underline" ng-click="addAnswers()">Еще
                вопросы</a>
        </div>
    </section>

</div>

<div class="subscribeContainer">
    <div class="container">

        <h2> Описание проекта </h2>

        <p> Бла-бла <a href="#">ссылка</a></p>

    </div>
</div>

<script>
    jQuery(function () {
        jQuery('#Grid').mixitup();
    });
</script>

</div>