.white-wrap {
    background: #FFF;
    -webkit-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow: 0 2px 1px rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 0 2px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.05);
    padding: 0 10px;
}

ul.popular-filter {
    text-align: center;
    margin: 0;
    padding: 0;
}

ul.popular-filter li {
    display: inline-block;
    margin: 0 5px 10px 0;
}

ul.popular-filter li a {
    display: block;
    padding: 8px 10px;
    font-size: 16px;
    background: #303030;
    border-radius: 3px;
    color: #ffffff;
}

.popular-grid {
    margin: 15px 0 0 0;
    min-height: 300px;
    padding: 0;
}

.popular-grid .mix {
    opacity: 0;
    display: none;
    margin-bottom: 20px;
    /*width: 25%;*/
}

.white-wrap {
    padding: 0;
}

.white-wrap .image-holder {
    -webkit-border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-topright: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    overflow: hidden;
    position: relative;
}

.white-wrap .text-holder {
    text-align: center;
    padding: 0 10px;
    top: -20px;
    position: relative;
}

.white-wrap .text-holder p {
    padding-bottom: 15px;
}

/*.white-wrap .text-holder i {*/
    /*width: 40px;*/
    /*height: 40px;*/
    /*display: inline-block;*/
    /*border-radius: 50%;*/
    /*-webkit-border-radius: 50%;*/
    /*-o-border-radius: 50%;*/
    /*color: #FFF;*/
    /*line-height: 40px;*/
    /*font-size: 18px;*/
/*}*/

.white-wrap .text-holder h3 {
    font-size: 16px;
}

span.item-on-hover, .grid-item-on-hover {
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    display: block;
    height: 100%;
    opacity: 0;
    position: absolute;
    width: 100%;
    -webkit-transition: background 0.2s ease 0s;
    -moz-transition: background 0.2s ease 0s;
    -o-transition: background 0.2s ease 0s;
    transition: background 0.2s ease 0s;
}

span.hover-link, span.hover-image, span.hover-video {
    height: 41px;
    margin-left: -20px;
    margin-top: -20px;
    width: 41px;
}

span.hover-image {
    display: block;
    height: 35px;
    line-height: 35px;
    color: #FFF;
    left: 50%;
    margin-left: -17px;
    margin-top: -17px;
    opacity: 1;
    position: absolute;
    top: 100%;
    width: 35px;
    -webkit-transition: top 0.2s ease 0s;
    -moz-transition: top 0.2s ease 0s;
    -o-transition: top 0.2s ease 0s;
    transition: top 0.2s ease 0s;
}

a:hover span.hover-image {
    top: 50%;
}

.meta {
    font-size: 13px;
    font-weight: 600;
    padding: 15px 0 0 0;
    color: #303030;
}

.meta span {
    border-bottom: 1px solid #d1d1d1;
    padding: 0 10px 8px 10px;
}


/* ~~~~~~~~~~~~~~ Post-wrap ~~~~~~~~~~~~~~~~~~*/
.post-wrap {
    padding: 10px !important;
}

.post-wrap + .post-wrap {
    margin-top: 40px;
    border-top: solid 1px #EEEEEE;
    padding-top: 40px;
}

.post-header {
    margin-bottom: 15px;
}

.post-header a {
    color: #292929;
}

.post-meta {
    padding: 10px;
    font-size: 14px;
    line-height: 14px;
    background-color: #f0f3f5;
    color: #717d87;
}

.post-media {
    margin-bottom: 20px;
    position: relative;
}

.post-media .thumbnail {
    margin-bottom: 0;
    display: inline-block;
}

.post-body {
    margin-bottom: 10px;
}

.post-footer {
    margin: 10px 10px 0 10px;
    height: 35px;
    position: relative;
}

.post-footer .more {
    position: absolute;
    bottom: 0;
    right: 0;
}