/* MASTER */
/*********** General Sections ***********/

body {
    font-family: Open Sans, Tahoma, Arial, sans-serif;
    font-size: 13px;
    font-weight: normal;
    color: #333333;
}

.container {
    width: 1000px;
    margin: 0 auto;
}

.topContainer {
    width: 100%;
    height: 62px;
    padding-top: 17px;
    text-align: center;
    background: #000000 url('../img/background_top.png') center top no-repeat;
}

.questionContainer {
    width: 100%;
    min-height: 600px;
    text-align: center;
    background: #000000 url('../img/question_3.jpg') center top repeat;
    /*border-bottom: 1px solid #202020;*/
}

.contentContainer, .categoryContainer, .historyContainer {
    width: 100%;
    padding: 10px 0;
    background-color: #0a0a0a;
    border-top: 5px solid #0c0c0c;
    border-bottom: 1px solid #202020;
}

.categoryContainer h2, .historyContainer h2 {
    text-align: center;
    color: #ffffff;
    padding: 0;
    margin: 10px 0 20px 0;
}

.historyContainer {
    text-align: center;
    /*background: #000000 url('../img/question_3.jpg') center top no-repeat;*/
    background: url(../img/bg-dark.png) repeat 0 0 #272727;
}

/*********** Subscribe Container ***********/
.subscribeContainer {
    width: 100%;
    padding: 30px 0;
    text-align: center;
    background-color: #0f0f0f;
    border-top: 5px solid #0c0c0c;
    border-bottom: 1px solid #202020;
}

.subscribeContainer h2 {
    color: #898989;
    padding-bottom: 25px;
    font-weight: 400;
}

.subscribeContainer p {
    padding-top: 15px;
}

/* ----------------------------------------- */
/*********** Footer Container ***********/
.footerContainer {
    width: 100%;
    padding: 15px 0;
    background-color: #0f0f0f;
    border-top: 5px solid #0c0c0c;
    color: #ffffff;
}

.footerContainer ul li {
    display: inline;
}

.footerContainer li {
    padding-left: 10px;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ MY ~~~~~~~~~~~~~~~~~~~~~~~~ */

.show_button {
    background: url('../img/download_button_normal.png') center top no-repeat;
    color: #eeeeee;
}

.show_button:hover {
    background: url('../img/download_button_hover.png') center top no-repeat;
    color: #eeeeee;
    text-shadow: 0 1px 0 #000000;
}

.question {
    width: 600px;
    background-color: rgb(87, 87, 87);
    background-color: rgba(87, 87, 87, 0.86);
    padding: 15px;
    margin-top: 15px;
    margin-bottom: 15px
}

.question h2 {
    color: #ffffff;
    margin: 0;
    padding: 0;
}

.question p {
    margin: 0;
}

.answer {
    width: 600px;
    background-color: rgb(87, 87, 87);
    background-color: rgba(87, 87, 87, 0.86);
    padding: 15px;
}

/* FORM */

.question-form {
    padding: 10px 10px 0;
}

.question-form .alert {
    margin-top: 10px;
    margin-bottom: 0;
}
/* Feature Box */
.feature-box {
    clear: both;
}

.feature-box .feature-box-icon {
    background: #CCC;
    border-radius: 35px;
    color: #FFF;
    display: block;
    float: left;
    height: 35px;
    line-height: 35px;
    margin-right: 10px;
    position: relative;
    text-align: center;
    top: 5px;
    width: 35px;
}

.feature-box .feature-box-info {
    padding-left: 50px;
}

.feature-box.secundary .feature-box-icon {
    background: transparent;
    width: 50px;
    height: 50px;
}

.feature-box.secundary .feature-box-icon i.fa {
    font-size: 28px;
}

.feature-box.secundary .feature-box-info {
    padding-left: 60px;
}

a.category {
    font-size: large;
    text-decoration: underline;
    color: #ffffff;
}

.feature-box-info p.description {
    color: #BBBBBB;
    line-height: 15px;
    font-size: 13px;
}

/* Social */

.ng-social-container li {
    margin-bottom: 10px;
}