<div class="thumbnail center-block question" data-ng-controller="ChoiceCtrl">
    <h2>ЗАДАЙТЕ ВОПРОС ВЕЛИКОМУ ОГНЮ!</h2>

    <p style="color: #ffffff">Огонь выберет один вариант из двух?</p>

    <form class="row question-form" ng-submit="getAnswer()">

        <div ng-repeat="variant in variants track by $index">
            <input ng-model="variant.value" placeholder="Вариант {{$index+1}}" required class="form-control"
                   style="margin-bottom: 20px">
        </div>

        <div style="margin-top: 15px;">
            <a class="btn btn-default show_button" title="Добавить вариант" ng-click="addVariant()"> + </a>
            <button class="btn btn-default show_button" type="submit"> Спросить у огня</button>
        </div>
        <div class="alert alert-danger animated fadeIn" ng-show="answererror">{{answererror}}</div>
    </form>
</div>