<div class="thumbnail center-block question" data-ng-controller="GeneralCtrl">
    <h2>ЗАДАЙТЕ ВОПРОС ВЕЛИКОМУ ОГНЮ!</h2>

    <p style="color: #ffffff">Задайте любой вопрос</p>

    <form class="row question-form" ng-submit="getAnswer()">
        <textarea ng-model="question" placeholder="Как жить дальше?"
                  maxlength="5000" rows="3" required class="form-control"></textarea>

        <button class="btn btn-default show_button" type="submit" style="margin-top: 15px;"> Спросить у огня</button>
        <div class="alert alert-danger animated fadeIn" ng-show="answererror">{{answererror}}</div>
    </form>
</div>