<div class="thumbnail center-block question" data-ng-controller="LongLiveCtrl">
    <h2>ЗАДАЙТЕ ВОПРОС ВЕЛИКОМУ ОГНЮ!</h2>

    <p style="color: #ffffff">Сколько мне осталось жить?</p>

    <form class="row question-form" ng-submit="getAnswer()">
        <input ng-model="name" placeholder="Ваше имя" required class="form-control">

        <button class="btn btn-default show_button" type="submit" style="margin-top: 15px;"> Спросить у огня</button>
        <div class="alert alert-danger animated fadeIn" ng-show="answererror">{{answererror}}</div>
    </form>
</div>