<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="https://www.facebook.com/2008/fbml" itemscope="itemscope" itemtype="http://schema.org/Product">
{% include '../includes/head.html' %}

<body>
        <!--class="navbar navbar-inverse navbar-fixed-top"-->
    <div data-ng-include="'/public/system/views/header.html'" data-role="navigation"></div>
    {% if adminEnabled %}
    <section class="admin-menu">
        <div data-ng-include="'/mean-admin/views/index.html'"></div>
    </section>
    {% endif %}

    {% block content %}{% endblock %}

    <!--<section class="content">-->
        <!--<section class="container">-->
            <!--{% block content %}{% endblock %}-->
        <!--</section>-->
    <!--</section>-->
    {% include '../includes/foot.html' %}

    <div data-ng-include="'/public/system/views/footer.html'" data-role="navigation"></div>
</body>

</html>