<div class="center-block answer-content" data-ng-controller="AdminAnswersCtrl">
    <h2>Список вопросов</h2>

    <div class="row">

        <div class="col-md-offset-8 col-md-2">
            <select class="form-control" ng-options="category as category.title for category in categories"
                    ng-model="selectedCategory" ng-change="onSelect()">

            </select>
        </div>
    </div>

    <style>
        .my-drop-zone {
            border: dotted 3px lightgray;
        }

        .ng-file-over {
            border: dotted 3px red;
        }

        /* Default class applied to drop zones on over */
        .another-file-over-class {
            border: dotted 3px green;
        }

        html, body {
            height: 100%;
        }

        canvas {
            background-color: #f3f3f3;
            -webkit-box-shadow: 3px 3px 3px 0 #e3e3e3;
            -moz-box-shadow: 3px 3px 3px 0 #e3e3e3;
            box-shadow: 3px 3px 3px 0 #e3e3e3;
            border: 1px solid #c3c3c3;
            height: 100px;
            margin: 6px 0 0 6px;
        }
    </style>

    <div class="row">
        <div class="col-md-offset-4 col-md-4">

            <form class="row question-form" ng-submit="addAnswer()">

                <input type="text" ng-model="answerForm" class="form-control" placeholder="Ответ"  required>

                <input type="text" ng-model="imageUrl" class="form-control" placeholder="Путь к картинке" required readonly>

                <tags-input ng-model="keywords" placeholder="Ключевые слова для поиска"
                            ng-show="selectedCategory.name == 'general'"></tags-input>

                <button class="btn btn-default center-block" type="submit" style="margin-top: 20px;"> Добавить</button>
            </form>

            <div class="row">

                <div class="col-md-12" style="margin-top: 10px; margin-bottom: 20px">

                    <div ng-show="uploader.isHTML5 && !imageUrl">
                        <!-- Example: ng-file-drop | ng-file-drop="options" -->
                        <div class="well my-drop-zone" ng-file-drop ng-file-over="another-file-over-class">
                            <!-- 2. ng-file-select | ng-file-select="options" -->
                            <input ng-file-select type="file" multiple/>

                            <p>Или перетяните сюда файл</p>
                        </div>
                    </div>

                    <p>Queue length: {{ uploader.queue.length }}</p>

                    <table class="table">
                        <thead>
                        <tr>
                            <th width="50%">Name</th>
                            <th ng-show="uploader.isHTML5">Size</th>
                            <th ng-show="uploader.isHTML5">Progress</th>
                            <th>Status</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in uploader.queue">
                            <td>
                                <strong>{{ item.file.name }}</strong>
                                <!--<div ng-thumb="{ file: item.file, width: 100, height: 100 }"></div>-->
                                <div ng-show="uploader.isHTML5" ng-thumb="{ file: item.file, height: 100 }"></div>
                            </td>
                            <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                            <td ng-show="uploader.isHTML5">
                                <div class="progress" style="margin-bottom: 0;">
                                    <div class="progress-bar" role="progressbar"
                                         ng-style="{ 'width': item.progress + '%' }"></div>
                                </div>
                            </td>
                            <td class="text-center">
                                <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                                <span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                                <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                            </td>
                            <td nowrap>
                                <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()"
                                        ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                                    <span class="glyphicon glyphicon-upload"></span> Upload
                                </button>
                                <button type="button" class="btn btn-warning btn-xs" ng-click="item.cancel()"
                                        ng-disabled="!item.isUploading">
                                    <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                                </button>
                                <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                                    <span class="glyphicon glyphicon-trash"></span> Remove
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                    <!--<div>-->
                        <!--<p>-->
                            <!--Queue progress:-->

                        <!--<div class="progress" style="">-->
                            <!--<div class="progress-bar" role="progressbar"-->
                                 <!--ng-style="{ 'width': uploader.progress + '%' }"></div>-->
                        <!--</div>-->
                        <!--</p>-->
                        <!--<button type="button" class="btn btn-success btn-s" ng-click="uploader.uploadAll()"-->
                                <!--ng-disabled="!uploader.getNotUploadedItems().length">-->
                            <!--<span class="glyphicon glyphicon-upload"></span> Upload all-->
                        <!--</button>-->
                        <!--<button type="button" class="btn btn-warning btn-s" ng-click="uploader.cancelAll()"-->
                                <!--ng-disabled="!uploader.isUploading">-->
                            <!--<span class="glyphicon glyphicon-ban-circle"></span> Cancel all-->
                        <!--</button>-->
                        <!--<button type="button" class="btn btn-danger btn-s" ng-click="uploader.clearQueue()"-->
                                <!--ng-disabled="!uploader.queue.length">-->
                            <!--<span class="glyphicon glyphicon-trash"></span> Remove all-->
                        <!--</button>-->
                    <!--</div>-->

                </div>

            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-md-offset-2 col-md-8 text-center">

            <ul class="popular-grid">
                <li class="col-sm-4" data-sort="data-name" ng-repeat="item in templates">
                    <!--style="display: inline-block; opacity: 1;"-->
                    <div class="post-wrap thumbnail">
                        <div class="post-header">
                            <h4 class="post-title"><a href="#">Вопрос: {{item.answer}}</a></h4>
                        </div>
                        <div class="post-media">
                            <div class="thumbnail">
                                <a href="{{item.imageUrl}}" data-lightbox="{{item.category}}"
                                   data-title="{{item.answer}}">
                                    <img ng-src="{{item.imageUrl}}" alt="">
                                </a>
                            </div>
                        </div>

                        <div class="post-body" ng-show="item.category == 'general'">
                            <h4>Ключeвые вопросы: {{item.keywords}}</h4>
                        </div>

                    </div>
                </li>
                <div class="clearfix"></div>
            </ul>

        </div>
    </div>


</div>