<div class="footerContainer">
    <div class="container">

        <p class="pull-left">2014 <span>Prediction</span> / All Rights Reserved.</p>
        <ul class="pull-right">
            <li><a href="#">Facebook</a></li>
            <li><a href="#">Twitter</a></li>
        </ul>
    </div>
</div>
