<div class="page-header" data-ng-controller="HeaderController">
    <div class="logo pull-left">
        <a class="navbar-brand" ui-sref="home" mean-token="'site-title'">MEAN</a>
    </div>

    <div class="left pull-left">
        <ul class="navbar-nav nav">
            <li data-ng-repeat="item in menus.main" ui-route="/{{item.link}}" ng-class="{active: $uiRoute}">
                <a mean-token="item.link" ui-sref='{{item.link}}'>{{item.title}}</a>
            </li>
        </ul>
    </div>

    <div class="account">
        <!--<div class="text-edit">-->
        <div class="pull-right" data-ng-show="global.authenticated" mean-token-editable></div>
        <div class="pull-right" data-ng-show="global.authenticated" mean-translate></div>
        <!--</div>-->
        <ul class="navbar-nav nav" data-ng-hide="global.authenticated">
            <li><a ui-sref='auth.register'>Register</a>
            </li>
            <li class="divider-vertical"></li>
            <li><a ui-sref='auth.login'>Login</a>
            </li>
        </ul>
        <ul class="navbar-nav nav" data-ng-show="global.authenticated">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    {{global.user.name}} <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="/logout">Signout</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>
<div class="topContainer">
    <div class="container">
        <a href="/"><img src="/public/prediction/assets/img/logo.png" alt="Logo"/></a>
    </div>
</div>
