
.admin-container {
    width: 100%;
    min-height: 700px;
    background: #000000 url('../img/background_slider.png') center top repeat;
}

.answer-content {
    background-color: rgb(87, 87, 87);
    background-color: rgba(87, 87, 87, 0.86);
    padding: 15px;
    margin: 15px;
}

.answer-content h2 {
    color: #ffffff;
    text-align: center;
}
